.pding {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    float: right;
    text-align: center;
}

.pding1 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    float: left;
}

.pding2 {

    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 0px;
    float: right;
}

.canh-giua {
    text-align: center;
}

.dong {
    margin-right: 0px;
    margin-left: 0px;
}

.dong2 {
    text-align: right;

}


.imag {
    width: 300px;
    height: 300px;
}

#vi-tri-chu {
    display: flex;
    text-align: center;
}

.qcao {
    width: 500px;
    height: 300px;
}

.dv {
    border-width: 1px;
    border-style: solid;
    color: darkgray;
}

.col-md-12 {
    padding-bottom: 10px;

}

.navbar-inverse {
    margin-bottom: 4px;
}

.tra {
    text-align: left;
}

.kthuoc-a {
    height: 250px;
    width: 800px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 10px;

}

.w {
    width: 750px;
    height: 200px;
}

.vi-tr {
    padding-right: 80px;
    text-align: right;


}


.cart-title {
    text-align: center;
    margin: 25px 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}