:root {
  --box: 80%;
  --box: 1100px;
  /* --box: 1000px; */
}
.container {
  min-width: var(--box);
  margin: 0 auto;
}
header {
  border-bottom: 2px solid gray;
}
.header_top {
  /* width: 70%; */
  /* min-width: var(--box); */
  width: 100%;
  /* height: 60px; */
  background-color: #356ab4;
  position: relative;
  /* margin: 0 auto; */
}
.logo_image {
  height: 60px;
}
.header_top_box {
  width: var(--box);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.logo_search {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_option {
  padding: 0 11px;
  width: 197px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}
/* .option_box {
  padding: 0 11px;
  width: 197px;
  height: 30px;
  background-color: #000;
} */
.input_box {
  width: 283px;
  height: 30px;
  padding: 11px;
  border-radius: 5px;
  outline: none;
}
.input_box:focus {
  background-color: input_box;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-left: -20px;
}
.shop {
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.shop_icon {
  /* color: white; */
  font-size: 20px;
  font-weight: 600;
}
.shop:hover {
  color: rgb(243, 52, 93);
}
.status {
  padding: 10px;
}
.bottom_header {
  /* border-bottom: 2px solid gray; */
  margin: 0 auto;
  width: var(--box);
}
.box_header_bottom {
  margin: 0 auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 0;
}
.icon_nav {
  font-size: 30px;
  color: gray;
  display: block;
}
.box_list {
  text-align: center;
  color: black;
  padding: 2px 4px;
}
.box_list:hover {
  background-color: rgb(206, 202, 202);
  /* position: relative; */
  border-radius: 3px;
}
.box_list p {
  text-decoration: none;
  color: gray;
}
article {
  width: var(--box);
  margin: 0 auto;
}
.top_main {
  padding: 20px 0;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.image_chinh {
  max-width: 70%;
  /* border-bottom: 1px solid #000; */
}
.image_item {
  width: 100%;
}
.image_phu {
  max-width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.image_phu_item1 {
  width: 100%;
}
.image_phu_item1:last-child {
  margin-top: 25px;
}
/* .hotdeal {
  display: flex;
} */
.hotdeal_tilte {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotdeal_left {
  width: 70%;
}
.hotdeal_tilte_item {
  color: #2a2d90;
  font-size: 14px;
}
.mauxam {
  color: gray;
  padding-left: 20px;
}
.box_nut_right {
  width: 25%;
}
.nut_right {
  width: 100px;
  height: 30px;
  background-color: #2e3192;
  color: white;
  font-size: 14px;
}
.nut_right :before:hover {
  background-color: white;
}
.hotdeal_main {
  /* height: 1000px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* border-bottom: 2px solid gray; */
}
.hotdeal_left {
  width: 70%;
}
.hotdeal_list {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-around;
}
.hotdeal_image {
  width: 100%;
}
.hotdeal_item {
  width: 22%;
  height: 230px;
  /* padding: 20px; */
  /* border-left: 1px solid black; */
}
/* .hotdeal_item :last-child {
  border-right: 1px solid black;
} */
.themgiohang {
  width: 70px;
  height: 20px;
  background-color: yellow;
  border-radius: 3px;
  border: 1px solid green;
  margin: auto;
}
.tilte_item {
  padding-top: 5px;
  font-size: 14px;
  color: #5c5eaa;
  text-align: center;
}
.hotdeal_item a {
  text-decoration: none;
}
.gia {
  padding-top: 5px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.gia_goc {
  text-decoration: line-through;
}
.gia_khuyenmai {
  font-size: 18px;
}
.hotdeal_right {
  border: 1px solid black;
  padding-top: 20px;
  width: 25%;
  height: 60%;
}
.tintuc_img {
  width: 100%;
}
.tintuc_img1 {
  max-width: 100px;
}
.mi11 {
  text-align: center;
  font-size: 14px;
}
.right_item:first-child {
  padding: 5px;
}
.right_item:nth-child(2),
.right_item:nth-child(3),
.right_item:nth-child(4) {
  display: flex;
  padding: 5px;
  padding-top: 10px;
  /* align-items: ; */
}
.right_item p {
  padding-left: 5px;
}
.right_item {
  border-bottom: 1px solid #000;
}
.nav {
  border-top: 3px solid #2e3192;

  margin-top: -1px;
  background-color: #f1f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_button {
  width: 150px;
  height: 36px;
  background-color: #2e3192;
  border-radius: 0 18px 18px 0;
  font-size: 13px;
  /* padding: px; */
  color: white;
}
.nav_button i {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  color: red;
  padding: 4px;
}
.list_nav {
  display: flex;
  list-style: none;
}
.list_nav_item {
  padding: 0 10px;
  font-size: 16px;
}
.link_list {
  text-decoration: none;
}
/* .nav_item {
  color: #2e3192;
  font-weight: bold;
  text-decoration: none;
} */
.box_item {
  width: 169px;
  width: 14.2857%;
  border-right: 1px solid gray;
}
.box_sanpham {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  display: flex;
}
.laptop {
  width: 100%;
  flex-shrink: 0;
}
.laptop_info {
  padding: 14px;
  font-size: 14px;
}
.laptop_info p {
  padding-bottom: 5px;
  font-size: 14px;
  word-break: break-all;
  color: #5c5eaa;
}
.laptop_info strong {
  font-size: 14px;
}
.quangcao {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_footer {
  height: 60px;
  background-color: #58595b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_footer p {
  font-size: 13px;
  color: #fff;
  padding-right: 20px;
}
.input_email {
  padding: 10px;
  width: 320px;
  height: 36px;
  outline: none;
}
.gui {
  background-color: #2e3192;
  color: #fff;
  width: 60px;
  height: 36px;
}
.gui:hover {
  background-color: #2a2fb9;
}
.main_footer {
  height: 500px;
  background-image: url("../img/bgim.jpg");
  /* min-width: var(--box); */
}
.thongtin_footer {
  padding-top: 30px;
  margin: 0 auto;
  width: var(--box);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #59abd1;
  padding-bottom: 30px;
}

.thongtin_item_left {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.thongtin_item_right {
  width: 35%;
}
.lienket {
  padding-left: 20px;
}
.icon_cuoi1 {
  position: absolute;
  transform: translateY(0px);
  font-size: 14px;
}
.icon_cuoi2 {
  position: absolute;
  font-size: 14px;
  transform: translateY(95px);
}
.icon_cuoi3 {
  position: absolute;
  font-size: 14px;
  transform: translateY(132px);
}

.thongtin_item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.thongtin_item ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}
.cuoicung {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bold;
}
.lienket,
p,
b,
a {
  font-size: 14px;
  font-weight: bold;
}
/* @media screen and (min-width: 1920px) {
  :root {
    --box: 1400px;
  }
} */


